@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: PT Sans;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

header {
  background: #000000;
}

.top-line {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  width: 80vw;
  margin: 0 auto;
}

.vector__img {
  height: 16px;
  width: 16px;
  left: 405px;
  top: 14px;
  border-radius: 0px;
}

.time {
  font-size: 12px;
  line-height: 16px;
  color: #969696;
  margin-left: 15px;
  margin-bottom: 0;
}

.left-top {
  display: flex;
}

.right-top {
  display: flex;
}

.right-text-top {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #969696;
  margin-left: 10px;
  margin-bottom: 0;
}

.second-line {
  height: 80px;
  background: #0f0f0f;
  height: 100%;
}

.logo {
  font-family: Post No Bills Jaffna;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
}

.menu {
  font-family: PT Sans;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #969696;
  padding: 21px 10px;
  margin-bottom: 0;
  cursor: pointer;
}

.menu:hover {
  background: #1f1f1f;
  text-decoration: none;
  color: white;
}

.div-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.second-top-img1 {
  padding-left: 40px;
  padding-right: 20px;
}

.second-top-img2 {
  padding-left: 20px;
}

.first-screen {
  margin: 0; /* Убираем отступы */
  height: 100%; /* Высота страницы */
  background: url(img/Rectangle\ 3.jpg); /* Параметры фона */
  background-size: cover; /* Фон занимает всю доступную площадь */
}

.div-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-logo {
  padding-top: 160px;
}

.first-screen-text {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 130px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* Second section */

.new-season {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 93px;
}

.second-section > div {
  float: left;
  width: 50%;
}

.second-section {
  display: flex;
  overflow: hidden;
  background-color: #000000;
}

.left {
  height: 730px;
}

.right {
  background-image: url(img/new-collection.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  width: 100%;
}

.group {
  display: flex;
  justify-content: center;
}

.group-img {
  width: 220px;
  height: 292px;
  padding: 20px;
}

.line {
  position: relative;
  margin: 0 auto;
  border: 1px solid #ffffff;
  width: 120px;
}

.line__heading {
  text-align: center;
}
/* Third section */

.third__section {
  display: flex;
  background-color: #000000;
  height: 600px;
}

.third__section > .third__section__img {
  height: 100%;
  width: 45%;
}

.third__section > .third__section__text {
  height: 100%;
  width: 55%;
}

.third__section__img {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/Rectangle.png);
}

.p__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 60px;
}

.third__section__text {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.watch__collection {
  padding: 12px 28px;
  border: 1px white solid;
  color: white;
}

.watch__collection:hover {
  color: white;
  text-decoration: none;
}

#new-goods {
  background-color: #000;
  width: 100%;
  padding-bottom: 150px;
}

.new-goods-text {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 120px;
}

.rov {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.line-2 {
  border: 1px solid #ffffff;
  width: 120px;
  margin-bottom: 81px;
  margin-top: 40px;
}

#my-brends {
  background: #0f0f0f;
}

.new-goods-text1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 60px;
}

.baner {
  min-width: fit-content;
  min-height: auto;
}

.col-3,
.col-lg-3 {
  display: flex;
  justify-content: center;
}

.footer {
  background-image: url(img/Rectangle\ 15.png);
  background-size: cover;
}

.footer__margin {
  padding-top: 80px;
}

.footer__p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 40px;
}

.footer__h {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-button1 {
  margin-right: 20px;
}

.footer-button2 {
  margin-right: 20px;
}

.content-footer {
  margin-top: 40px;
  margin-bottom: 20px;
}

.form-footer {
  display: flex;
}

.last-line {
  background-color: #0f0f0f;
}

.last-line-flex {
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-line-flex > p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #d0d0d0;
}
